@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Mukta, sans-serif;
    font-weight: 700;
    color: rgb(35, 35, 35);
    padding-left: 70px;
    padding-right: 70px;
}


h1, h2 {
    color: black;
    font-family: Rubik, sans-serif;
}

#menu h1 {
    float: left;
}

h1 i {
padding-right: 15px;
}

.list {
    text-align: left;
    overflow: hidden;
    padding-left: 8vw;
}

li {
    display: inline-block;
    padding: 1vw;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

i {
    padding-right: 1vw;
}

#active {
    color: rgb(54, 255, 124);;
}

#menu {
    position: fixed;
    top: 0px;
    width: 91%;
    padding: 2vw;
    background-color: white;
}

#menu li a:hover {
    color: rgb(54, 255, 124);
}

#button {
    float: right;
    padding: 3px;
    margin-top: 10px;
    background-color: rgb(54, 255, 124);
    border-radius: 12px;
    border-style: solid;
}

.column {
    height: 170px;
    padding: 0;
    margin: 0;
}

#main {
    height: 500px;
    width: 100%;
}

#main-text {
    font-size: 2vw;
    float: left;
    width: 50%;    
}

#main-text p {
    clear: both;
    font-size: 2vw;
}

#main img {
    padding: 40px;
    float: right;
    width: 40%;
    border-radius: 50%;
    
}

#main-image:hover {
    transform: scale(1.1);
}

#fundamentals {
    margin-top: 100px;
}

#fundamentals h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 3vw;
    color: white;
}

#fundamentals h3 {
    color: white;
}

#fundamentals div {
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
}

#fundamentals div:hover {
    opacity: 1.0;
}

#fund-nutrition {
    background-image: url(../images/nutrition.jpg);
    background-size: cover;
    opacity: 0.4;
}

#fund-sleep {
    background-image: url(../images/sleep.jpg);
    background-size: cover;
    opacity: 0.4;
}

#fund-exercise {
    background-image: url(../images/exercise.jpg);
    background-size: cover;
    opacity: 0.4;
}

#fund-meditate {
    background-image: url(../images/meditation.jpg);
    background-size: cover;
    opacity: 0.4;
}

#sleep {
    clear: both;
    margin-top: 500px;
    height: 800px;
    width: 100%;
    background-image: url(../images/green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#sleep h2 {
    color: rgb(0, 0, 82);
    text-align: center;
    font-size: 8vw;
}

#sleep div {
    background-image: url(../images/stars.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 4%;
    height: 60%;
    width: 50%;
}

#sleep div ol {
    color: white;
    font-size: larger;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 6vw;
}

.footer i {
    color: rgb(54, 255, 124);
    font-size: 4vw;
    padding: 7vw;
}

@media (max-width: 480px) {
    body {
        padding: 0;
    }

    #menu {
        padding: 0;
        line-height: 1;
        display: grid;
        width: fit-content;
    }

    .column {
        height: 150px;
    }

    #main-text, p {
        width: fit-content;
        font-size: larger;
    }

    #main img {
        padding: 0;
        float: none;
        width: 100%;
    }
}