@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Mukta, sans-serif;
    font-weight: 700;
    color: rgb(35, 35, 35);
    padding-left: 50px;
    padding-right: 50px;
}

/* navigation menu */

h1, h2 {
    color: black;
    font-family: Rubik, sans-serif;
}

#menu h1 {
    float: left;
}

h1 i {
padding-right: 15px;
}

#list {
    text-align: left;
    overflow: hidden;
    padding-left: 100px;
}

li {
    display: inline-block;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding-right: 25px;
}

i {
    padding-right: 15px;
}

#active {
    color: rgb(54, 255, 124);;
}

#menu {
    position: fixed;
    top: 0px;
    width: 89%;
    padding: 8px;
    background-color: white;
}

#menu li a:hover {
    color: rgb(54, 255, 124);
}

#button {
    float: right;
    padding: 5px;
    background-color: rgb(54, 255, 124);
    border-radius: 12px;
    border-style: solid;
    overflow: hidden;
}

.column {
    height: 170px;
    padding: 0;
    margin: 0;
}

/*-main section */

#main {
    height: 500px;
    width: 100%;
}

#main-text {
    font-size: 35px;
    float: left;
    width: 50%;    
}

#main-text p {
    clear: both;
    font-size: 30px;
}

#main img {
    padding: 40px;
    float: right;
    width: 40%;
    border-radius: 50%;
    
}

#main-image:hover {
    transform: scale(1.1);
}

/* fundamentals section */

#fundamentals {
    margin-top: 100px;
}

#fundamentals h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
}

#fundamentals div {
    width: 25%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
}