@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Rubik:wght@800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: Mukta, sans-serif;
    font-weight: 700;
    color: rgb(35, 35, 35);
    padding-left: 70px;
    padding-right: 70px;
}


h1, h2 {
    color: black;
    font-family: Rubik, sans-serif;
}

#menu h1 {
    float: left;
}

.list {
    overflow: hidden;
    padding-left: 7vw;
}

li {
    display: inline-block;
    padding: 1vw;
    margin-right: 30px;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

i {
    padding-right: 1vw;
}

#active {
    color: rgb(54, 255, 124);
}

#menu {
    position: fixed;
    top: 0px;
    width: 92%;
    height: 80px;
    background-color: white;
}

#menu li a:hover {
    color: rgb(54, 255, 124);
}

#button {
    float: right;
    padding: 3px;
    margin-top: 10px;
    background-color: rgba(54, 255, 124, 0.486);
    border-radius: 12px;
    border-style: solid;
}

.column {
    height: 170px;
    padding: 0;
    margin: 0;
}

#main {
    height: 500px;
    width: 100%;
}

#main-text {
    font-size: 2vw;
    float: left;
    width: 50%;    
}

#main-text p {
    clear: both;
    font-size: 2vw;
}

#main img {
    padding: 40px;
    float: right;
    width: 40%;
    border-radius: 50%;
    filter: drop-shadow(10px 10px 10px rgba(54, 255, 124, 0.486));
    
}

#main-image:hover {
    transform: scale(1.1);
}

#fundamentals {
    margin-top: 100px;
}

#fundamentals h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 3vw;
    color: white;
}

#fundamentals h3 {
    color: rgb(255, 255, 255);
}

#fundamentals div {
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
}

#fundamentals div:hover {
    opacity: 1.0;
}

#fund-nutrition {
    background-image: url(../images/nutrition.jpg);
    background-size: cover;
    opacity: 0.4;
}

#fund-sleep {
    background-image: url(../images/sleep.jpg);
    background-size: cover;
    opacity: 0.4;
}

#fund-exercise {
    background-image: url(../images/exercise.jpg);
    background-size: cover;
    opacity: 0.4;
}

#fund-meditate {
    background-image: url(../images/meditation.jpg);
    background-size: cover;
    opacity: 0.4;
}

#sleep {
    clear: both;
    margin-top: 500px;
    height: 800px;
    width: 100%;
    background-image: url(../images/green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#sleep h2 {
    color: rgb(0, 0, 82);
    text-align: center;
    font-size: 8vw;
}

#sleep div {
    background-image: url(../images/stars.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 4%;
    height: 60%;
    width: 50%;
}

#sleep div ol {
    color: white;
    font-size: larger;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 6vw;
}

.footer i {
    color: rgb(54, 255, 124);
    font-size: 4vw;
    padding: 7vw;
}

.table {
    width: 100%;
}

th {
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

td {
    border: 1px solid black;
    padding: 10px;
}

.type {
    background-color:  rgb(54, 255, 124);
}

#food-pyr img {
    width: 100%;
    margin-bottom: 100px;
}

#medit-list {
    background-image: url(../images/medit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vw;
}

#medit-list li {
    display: grid;
    text-align: center;
    margin-top: 1vw;
    color: white;
    font-size: 2vw;
}

@media (max-width: 1200px) {
    body {
        padding: 10px;
    }

    #menu {
        width: 98%;
    }
}

@media (max-width: 950px) {
    body {
        padding: 10px;
    }

    #menu {
        position: relative;
        padding: 0;
        line-height: 1;
        display: grid;
        width: fit-content;
        height: fit-content;
    }
    .column {
        height: 50px;
    }

    #main-text {
        font-size: large;
        width: fit-content;
    }

    #main img {
        padding: 0;
        width: 100%;
        transform: none;
    }

    th {
        padding: 5px;
    }

    td {
        padding: 5px;
    }
}

@media (max-width: 500px) {

    body {
        padding: 0;
    }

    #menu {
        position: relative;
        padding: 0;
        line-height: 1;
        display: grid;
        width: fit-content;
        height: fit-content;
    }

    #menu h1 {
        padding: 0;
        margin: 0;
    }

    .column {
        height: 10px;
    }

    #main-text {
        font-size: large;
        width: fit-content;
    }

    #main img {
        padding: 0;
        width: 100%;
        transform: none;
    }

    #fundamentals {
        margin-top: auto;
        display: block;
        grid-row: 2;
    }

    #fundamentals div {
        height: fit-content;
        width: fit-content;
    }

    #sleep div {
        width: 80%;
        height: 70%;
    }

    th {
        padding: 2px;
    }

    td {
        padding: 2px;
    }
}